<%- include('partials/nav-dash') %>
<%- include('partials/links') %>

<div class="section-dash center">
    <h2 class="head-dash font display-6">
      <i class="angle double left icon inline"></i> 
                What do you wanna compose?
      <i class="angle double right icon inline"></i>
    </h2>
</div>
<!-- ======= More why Section ======= -->
<section id="more-services" class="more-services">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card" style='background-image: url("assetsindex/img/more-services-1.jpg");' data-aos="fade-up" data-aos-delay="100">
            <div class="card-body">
              <h5 class="card-title"><a href="">Compose a note</a></h5>
              <p class="card-text center">A note is a post which is seen in a dashboard or feed. You can write long passages, diary entries or content here.</p>
              <div class="read-more center"><a href="/new"><i class="icofont-arrow-right"></i>Compose a note</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="card" style='background-image: url("assetsindex/img/more-services-2.jpg");' data-aos="fade-up" data-aos-delay="200">
            <div class="card-body">
              <h5 class="card-title"><a href="">Community Post</a></h5>
              <p class="card-text center">Community posts are short messages which you can write to alarm your audience about what's up.</p>
              <div class="center read-more"><a href="/community/new"><i class="icofont-arrow-right"></i>Compose a community Post</a></div>
            </div>
          </div>

        </div>
    </div>
  </section><!-- End More why Section -->
   <!-- Vendor JS Files -->
   <script src="assetsindex/vendor/jquery/jquery.min.js"></script>
   <script src="assetsindex/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="assetsindex/vendor/jquery.easing/jquery.easing.min.js"></script>
   <script src="assetsindex/vendor/php-email-form/validate.js"></script>
   <script src="assetsindex/vendor/waypoints/jquery.waypoints.min.js"></script>
   <script src="assetsindex/vendor/counterup/counterup.min.js"></script>
   <script src="assetsindex/vendor/owl.carousel/owl.carousel.min.js"></script>
   <script src="assetsindex/vendor/isotope-layout/isotope.pkgd.min.js"></script>
   <script src="assetsindex/vendor/venobox/venobox.min.js"></script>
   <script src="assetsindex/vendor/aos/aos.js"></script>

   <!-- Template Main JS File -->
   <script src="assetsindex/js/main.js"></script>
<%- include('partials/footer-dash') %>

