<%- include('partials/nav-dash') %>

 <!-- main content -->
 <div class="text-gray-900 main-dash">
    <!-- Page Heading -->
      <div class="ui main text border-compose">
        <h1 class="display-5 center font">Compose New Note.</h1>
            <form class="ui form center margin-form" action="/notes" method="POST">
                <div class="field">
                <label for='title'>Title:</label>
                <input type="text" name="title" placeholder="Title">
                </div>
                <div class="field">
                    <label for='body'>Content:</label>
                    <textarea name="body"></textarea>
                </div>
                <input class="ui violet button" type="submit">
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer-dash') %>