<%- include('partials/links') %>
<%- include('partials/nav') %>

<div class="container border auth-margin">
<div class="row">
    <!-- contact info -->
    <div class="col-md-6 center">
        <img src="/main/images/book.png" class="img-fluid animated" alt="">
    </div>
    <!-- newsletter -->
    <div class="col-md-6">
        <div class="container margin-in">
             <h1 class="center font display-4">Sign Up</h1>
            <div class="center text-auth"><p>Join Notebook now to share your soul with the world.</p></div>
                <div>
                    <form action="/register" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Username" name="username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Password" name="password">
                    </div>
                    <div class="form-group">
                        <input class="form-control btn-primary" type="submit" value="Sign Up">  
                    </div>
                    </form>
                    <div class="center"><a href="/">Go back</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>